body{
    background-color: aquamarine;
    font-size: x-large;
    text-align: justify;
    color: brown;
}

p{
    background-color: chocolate;
    font-size: xx-large;
}

#parrafoUno{
    background-color: cyan;
}



#enumeraciones{
    background-color: lightsalmon;
    border: solid 3px black;
    color: black;
}

h3{
    background-color: lightgreen;
    border: solid 3px black;
}

input{
    background-color: chocolate;
    font-size: large;
    width: 50%;
}

#bodyCalculadora{
    background-color: cadetblue;
    text-align: center;
}

div{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 50%;
    margin-left: 25%;
    border: black solid 2px;
}